@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  background-color: #f6f6f7;
}

h3,
h5 {
  font-family: "Encode Sans";
}

.container {
  margin: 0;
  padding: 48px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > h3 {
  font-size: 32px;
  letter-spacing: 0.02em;
}

/* radio */
label {
  font-family: "Roboto";
  font-size: 20px;
  padding-right: 10px;
}

input[type="radio"] {
  accent-color: #024e74;
  width: 32px;
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}
.card_container {
  display: flex;
  background: #fdfdfd;
  border: 1px solid #e3e1e5;
  border-radius: 12px;
  padding: 16px;
  align-items: center;
}

.card_container > img {
  width: 72px;
  height: 72px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #00000012;
}

.card_name {
  font-size: 20px;
  color: #23292b;
}

/* pagination */
.Pagination_container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.pageButton {
  font-family: "Roboto";
  font-size: 16px;
  color: #024e74;
  cursor: pointer;
  opacity: 1;
}

.inactive {
  cursor: none;
  opacity: 0.5;
  pointer-events: none;
}

/* spinner */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
